
h2{
    font-size: 35px;
}
.app-title{
    background-image: linear-gradient(to right,#87CEFA, #0A0038);
    padding: 1% 2%;
    margin-bottom: 10px;
}

#search-city{
    border-style: hidden;
}

.btn{
    border-radius: 10px;
    margin-top: 10px;
}

.form-input{
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}

.history{
    border-top: 5px solid gray;
}

.current{
    width: 100%;
    border: solid 1px;
    height: 80%;
}

p{
    padding-left: 16px;
    font-size: 20px;
}

span{
    border-radius: 5px;
}

.forecast{
    width:100%;
}

.days{
    background-color: #33475a;
    color: white;
    width: 18%;
    font-size: 15px;
}